$navbar-default-bgv: black;


@import "bootstrap-sprockets";
@import "bootstrap";




#logo{
  float:left;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;

}

#logo:hover{
  color: #ff6;
  
}

.center{
  text-align: center;
}

.jumbotron{
  
  background-image: asset_url("images.jpg");
  background-size: cover;
  height: 380px;
  
}


.jumbotron h1{

 color:white;
  margin-bottom: 30px;
  font-weight: bold;

}

.btn-xlarge{

  font-size: 1.7em;
color: #2E2F30;
}

.article_actions{
  border-top: 1px solid aquamarine;
  padding-top: 5px;

}

.description{

  margin-top: 0;
}

.footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid black;
color: inherit;
}