<div>
  <footer class="footer">
    <small>
      copyright &copy:<a href="https://www.facebook.com" > My facebook </a> by <a href="youtube.com" >my youtube</a>
    </small>

    <nav>

    </nav>

  </footer>


</div>